
:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
    background: -webkit-linear-gradient(to left, #FAFFD1, #A1FFCE);
    background: linear-gradient(to left, #a1ffce, rgb(226, 231, 205));
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}




